 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="/">DECODE JOBS</a></h1>
     <a  class="logo me-auto"><img src="/img/logo1.png" alt="" class="img-fluid"></a>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
       
        <li class="active"><a href="/">Home</a></li>
        
        <li><a href="/aboutus">About</a></li>
        <li class="drop-down"><a href="/topics">Courses</a>
          <ul>
            <li><a href="/topics/array">Array</a></li>
            <li><a href="/topics/linked list">Linked List</a></li>
            <li><a href="/topics/trees">Tress</a></li>
            <li><a href="/topics/binary trees">Binary Tress</a></li>
            <li><a href="/topics/dynamic programming">Dynamic Programming</a></li>
            <li><a href="/topics">More</a></li>
          </ul>
        </li>
        <li><a href="/companies">Experience</a></li>

      </ul>
    </nav><!-- .nav-menu -->
    <% if(!user){ %>
    <a href="/login" class="get-started-btn">Get Started</a>
    <% }else{ %>
      <a href="#" class="get-started-btn"><%=user.user_name%></a> 
      <a href="/logout" class="get-started-btn">logout</a>
      <% } %>


  </div>
</header><!-- End Header -->